<!doctype html>
<html>
<head>
<title>Successfully launch APP Json</title>
</head>
<body>
	<h1>Successfully launch APP Json : 
    </h1>
    <h2>Todo : <br>
        test : http://0.0.0.0:5000/load_json to load sample<br>
        test : http://0.0.0.0:5000/show_json to show sample insert<br>
        test : http://0.0.0.0:5000/compute_daily_stats to compute stats for every couple model.entity date find<br>
        test : http://0.0.0.0:5000/get_daily_stats to query db with date format yyyy-mm-dd<br>
    </h2>

</body>
</html>


